*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 80%;
    margin: 0 auto;
}
.my-pweets{
    width: 80%;
    margin: 0 auto;
}
.pweet-box{
    border: 1px solid #2f2f2f;
}

#item_owner_name small b a:hover{
    text-decoration: none;
}

#item_owner_name small b a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}