<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pwitter</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <h1 class='text-center'>Welcome to Pwitter</h1>
    <p class='text-center'>
        <a href='/register'>
            <button class="btn btn-primary">
                REGISTER
            </button>
        </a>
    </p>
    <p class='text-center'>
        <a href='/login'>
            <button class="btn btn-primary">
                LOGIN
            </button>
        </a>
    </p>
</body>

</html>